.container {	
	margin-top:10px;
}
.moldy-imgs{ 
	position:relative;
}
.moldy-img {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
}
.btn-custom {
  background-color: hsl(75, 22%, 20%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#717c4f", endColorstr="#383e27");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#717c4f), to(#383e27));
  background-image: -moz-linear-gradient(top, #717c4f, #383e27);
  background-image: -ms-linear-gradient(top, #717c4f, #383e27);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #717c4f), color-stop(100%, #383e27));
  background-image: -webkit-linear-gradient(top, #717c4f, #383e27);
  background-image: -o-linear-gradient(top, #717c4f, #383e27);
  background-image: linear-gradient(#717c4f, #383e27);
  border-color: #383e27 #383e27 hsl(75, 22%, 15%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}